<div class="container p-4">
    <h2 class="p-4"><center><strong>Siembras</strong></center></h2>
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/siembras/add" method="POST">

                    {{! Datos de la siembra }}
                        <div class="row">
                        <div class="form-group col-md-6">
                            <input type="number" name="id_prod_inv" id="id_prod_inv" hidden>
                            <input autocomplete="off" type="text" id="producto" class="form-control" name="nom_productoSi"  placeholder="Nombre producto" autofocus required>
                            <ul class="autocomplete-results bg-black text-light list-group" id="productos">
                            </ul>
                        </div>
                        <div class="col-md-1">
                            <label for="">Se necesita</label>
                        </div>
                        <div class="col-md-5 form-group">
                            <input type="text" class="form-control" name="necesario" id="necesita" readonly>
                        </div>
                        <div class="form-group col-md-4 p-3">
                            <input type="number" autocomplete="off" class="form-control" id="cantidad_promesa" name="cantidad_promesa" placeholder="Cantidad promesa" required>
                        </div>
                        <div class="form-group col-md-4 p-3">
                            <input type="number" autocomplete="off" class="form-control" id="cantidad_donar" name="cantidad_donar" placeholder="Cantidad donar" required min="0" max="" defaultValue="0">
                        </div>
                        <div class="form-group col-md-4 p-3">
                            <input type="text" class="form-control" name="genero_producto" id="genero" placeholder="Genero del producto" readonly/>
                        </div>
                        <div class="form-group col-md-6">
                            <p class="form-control"><strong>Descripcion de la promesa</strong></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_p" value="Kg" id="Kg" required>
                            <label for="Kg">Kg</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_p" value="Litros" id="Litros" required>
                            <label for="Litros">Litros</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_p" value="Piezas" id="Piezas" required>
                            <label for="Piezas">Piezas</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_p" value="Efectivo" id="Efectivo" required>
                            <label for="Efectivo">Efectivo</label></p>
                        </div>
                        <div class="form-group col-md-6">
                            <p class="form-control"><strong>Descripcion de la donacion</strong></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_d" value="Kg" required>
                            <label for="kg">Kg</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_d" value="Litros" required>
                            <label for="kg">Litros</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_d" value="Piezas" required>
                            <label for="kg">Piezas</label></p>
                            <p class="form-control"><input type="radio" name="descripcion_cant_d" value="Efectivo" required>
                            <label for="kg">Efectivo</label></p>
                        </div>
                        
                        {{! Datos del sembrador }}
                         <div class="">
                            <input hidden type="num" class="form-control" id="id" name="id_personaSi" placeholder="Id">
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="text" class="form-control" autocomplete="off" name="nombresSi" id="search-persona" placeholder="Nombre sembrador" required>
                            <ul class="autocomplete-results bg-black text-light list-group" id="users">
                            </ul>
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="text" class="form-control" autocomplete="off" id="apellidoP" name="a_paterno" placeholder="Apellido paterno sembrador" required>
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="text" class="form-control" autocomplete="off" id="apellidoM" name="a_materno" placeholder="Apellido materno sembrador" required>
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="tel" class="form-control" autocomplete="off" name="num_tel" id="num_tel" placeholder="Telefono" required>
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="text" class="form-control"  name="nom_recibe" placeholder="Nombre quien recibe" required>
                        </div>
                        <div class="form-group col-md-6 p-2">
                            <input type="date" class="form-control" name="fecha_recibe" required>
                        </div>
                        <div class="form-group m-3" hidden>
                            <input type="checkbox" name="recibido" id="recibido" value="1">
                            <label>Entregado</label>
                        </div>
                        <div class="form-control justify-content-center">
                            <button id="send" class="btn btn-outline-success btn-lg btn-block">Guardar</button>
                        </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let inputid = document.getElementById("id");
    let input = document.getElementById("search-persona");
    let inputap = document.getElementById("apellidoP");
    let inputam = document.getElementById("apellidoM");
    let userList = document.getElementById("users");
    let producto = document.getElementById("producto");
    let inputnecesita = document.getElementById("necesita");
    let productList = document.getElementById("productos");
    let inputel = document.getElementById("num_tel");
    let inputgenero = document.getElementById("genero");
    var products= [];
    var users = [];
    let idprodinv = document.getElementById("id_prod_inv");
    let nombre_producto=""; 
    let cantidad_producto="";
    let id = "";
    let name = "";
    let last_n = "";
    let last_n_m = "";
    let tel = "";
    let all = "";   
    var recibido=document.querySelector("input[id=recibido]");


    window.addEventListener('DOMContentLoaded', async()=>{
    const data = await loadUsers();
    users = data;
    const datap = await loadProd();
    products = datap;
    //renderUsers(users)
    
    //console.log(users);
    });
    
    document.querySelector('#send').addEventListener('click', async()=>{
             if(document.querySelector('#cantidad_promesa').value===document.querySelector('#cantidad_donar').value){
                recibido.checked=true;
            }
        });

    recibido.addEventListener('change',function(){
        if(this.checked){
            recibido.value=1;
        }else{
            recibido.value=0;
        }
    });

    input.addEventListener("keyup", (event) => {
        const newUsers = users.filter(user => `${user.nombres_persona.toLowerCase()} ${user.a_paterno.toLowerCase()} ${user.a_materno.toLowerCase()}`.includes(input.value.toLowerCase()));
        renderUsers(newUsers); 
    });

    producto.addEventListener("keyup", (event) => {
        const newProducts = products.filter(product => `${product.nombre_pro.toLowerCase()}`.includes(producto.value.toLowerCase()));
        renderProducts(newProducts);    
    });

    const loadUsers = async ()=>{
       const response = await fetch('/registropersonas/all');
       return await response.json();
    }

    const loadProd = async ()=>{
        const response = await fetch('/inventario/all');
        return await response.json();
    }

    const renderProducts = (products) =>{
        const itemsString = createProductItems(products);
        productList.innerHTML = itemsString;
    }

    const createProductItems = products => products.map(product => `<a><li class="list-group-item p-1" style="cursor:pointer;">${product.nombre_pro}</li></a>`).join(" ");

    const createUserItems = users => users.map(user => `<a><li class="list-group-item p-1" style="cursor:pointer;">${user.nombres_persona} ${user.a_paterno} ${user.a_materno}</li></a>`).join(' ');

    
    const renderUsers = (users)=>{
        const itemsString = createUserItems(users);
        userList.innerHTML = itemsString;
    };

    userList.addEventListener("click", async(e)=>{
        const data = await loadUsers();
        var usuario = [];
        usuario = data;
        if(e.target && e.target.nodeName == "LI"){
            var loadusername = await usuario.map(user => {
                let id1=user.id_persona;
                let name1=user.nombres_persona;
                let last_n1=user.a_paterno;
                let last_n_m1=user.a_materno;
                let tel1 = user.num_tel;
                all = name1+" "+last_n1+" "+last_n_m1;
                if(all == e.target.innerHTML){
                    id=id1;
                    name=name1;
                    last_n=last_n1;
                    last_n_m=last_n_m1;
                    tel=tel1;
                    inputid.value = id;
                    input.value = name;
                    inputap.value = last_n;
                    inputam.value = last_n_m; 
                    inputel.value = tel;
                }
            });
            
            renderUsers([]);
        }
    });

    productList.addEventListener("click",async(e) =>{
        const data = await loadProd();
        let prod = [];
        prod = data;
        if(e.target && e.target.nodeName == "LI"){
            var loadpro = await prod.map(prod => {
                let nombreproducto = prod.nombre_pro;
                let cantidadnecesita = prod.cantidad_nec;
                console.log(prod.id_pro_inv);
                if(nombreproducto == e.target.innerHTML){
                    idprodinv.value = prod.id_pro_inv; 
                    nombre_producto = nombreproducto;
                    producto.value = nombre_producto;
                    
                    inputnecesita.value = (prod.cantidad_inicial - prod.cantidad_sembrada) +" "+ prod.descripcion_cant;
                    inputgenero.value = prod.genero; //con el puro mapeo se insertaba el valor dentro del input, no hacian falta las variables de arriba
                }
            });
            renderProducts([]);
        }
    });

    //https://www.youtube.com/watch?v=DgunJ2jMZwM
    //https://www.youtube.com/watch?v=cN_wouQBnqE
</script>