<div class="container p-4">
    <h3 class="m-3"><center>Agrega un nuevo producto</center></h3>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/inventario/add" method="POST">
                        <div class="form-group m-3">
                            <input type="text" class="form-control" name="nombre_pro" autocomplete="off" placeholder="Nombre producto"  autofocus>
                        </div>
                        <div class="form-group m-3">
                            <input type="number" class="form-control" name="cantidad_nec" id="cantidad_nec" autocomplete="off" placeholder="Cantidad">
                            <input type="number" id="cantidad_inicial" name="cantidad_inicial" value="" hidden>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" name="descripcion_cant" value="Kg">
                            <label for="kg">Kg</label>
                            <input type="checkbox" name="descripcion_cant" value="Litros">
                            <label for="kg">Litros</label>
                            <input type="checkbox" name="descripcion_cant" value="Piezas">
                            <label for="kg">Piezas</label>
                        </div>
                        <p class="p-2">Genero producto</p>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Frutas y verduras" />
                            <label for="Frutas y verduras">Frutas y verduras</label>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Carnes" />
                            <label for="Carnes">Carnes</label>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Lácteos" />
                            <label for="Lácteos">Lacteos</label>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Panes y cereales" />
                            <label for="Panes y cereales">Panes y cereales</label>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Limpieza" />
                            <label for="Limpieza">Limpieza</label>
                        </div>
                        <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Utencilios" />
                            <label for="Utencilios">Utencilios (Platos, Cucharas, Tenedores, Cuchillos, etc)</label>
                        </div>
                         <div class="form-group m-3">
                            <input type="checkbox" class="" name="genero" value="Otros" />
                            <label for="Panes y cereales">Otros</label>
                        </div>
                        <div class="form-control justify-content-center">
                            <button class="btn btn-outline-success btn-lg btn-block" id="save">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    document.querySelector("#save").addEventListener("click", async()=>{
        document.getElementById('cantidad_inicial').value = document.getElementById('cantidad_nec').value;
    });

</script>