<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card ">
                <div class="card-body">
                    <form action="/registropersonas/add" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" name="nomper" placeholder="Nombre(s)" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="a_p" placeholder="Apellido Paterno">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="a_m" placeholder="Apellido Materno">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="calle" placeholder="Calle">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="num_casa" placeholder="Número Casa">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="col" placeholder="Colonia">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="tel" placeholder="Teléfono">
                        </div>
                        <div class="form-control">
                            <button class="btn btn-outline-success btn-lg">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>